{% extends 'base.html' %}
{% block content %}
    <div id="topbar">
			<div id="topbarR">
				<span class="bigtitle">Moje motto</span> <br><br>
				<h2>"Sukces to suma wysiłku powtarzanego z dnia na dzień..."</h2>
				<div style="height: 15px;"></div>

			</div>
			<div style="clear:both;"></div>
		</div>

		<div id="content">
			<span class="bigtitle">Dlaczego warto uprawiać sport? 10 powodów</span><br>
			<h2>1. Aktywność fizyczna poprawia nastrój.</h2>
				Ćwiczenia fizyczne powodują, że wzrasta produkcja tzw. hormonów szczęścia – endorfin. Powstają one w przysadce mózgowej. To właśnie one odpowiadają za radość i szeroki uśmiech, który widać na twarzach sportowców nawet po wyczerpujących zawodach lub treningach.
			<h2>2. Zwiększa zdolności uczenia się</h2>
				Jednym z powodów, dla których warto uprawiać sport, jest jego wpływ na układ nerwowy. Mózg jest nie tylko lepiej ukrwiony i odżywiony. Aktywność fizyczna powoduje, że wzrasta ekspresja białka BDNF, który reguluje działanie neuroprzekaźników i wzmacnia odbiór sygnałów między komórkami nerwowymi.
			<h2>3. Uprawianie sportu podnosi samoocenę</h2>
				Wpływ uprawiania sportu na samoocenę jest związany nie tylko w poprawą wyglądu sylwetki. Dzięki niemu wzrasta wiara we własne możliwości, poprawia się nastrój i samopoczucie, tym samym patrzymy na siebie bardziej przychylnym okiem.
			<h2>4. Zwiększa sprawność mózgu.</h2>
				Sport zwiększa ekspresję białek odpowiedzialnych za funkcjonowanie układu nerwowego – głównie tkanki nerwowej w mózgu. Sprzyja także namnażaniu się komórek nerwowych, co ma wpływ na funkcje poznawcze.
			<h2>5. Ruch poprawia sprawność, wytrzymałość i elastyczności ciała</h2>
				Regularna aktywność fizyczna sprawia, że wzmocnieniu ulegają mięśnie. Poprawia się także wydolność narządów wewnętrznych. Tym samym organizm może dłużej funkcjonować na zwiększonych obrotach.
			<h2>6. Sport wpływa na zdrowie psychiczne</h2>
				Dzieje się tak ze względu na produkcję endorfin, ale także zmniejszenie stresu, lęku i napięcia nerwowego.
			<h2>7. Redukuje stres</h2>
				Za stres odpowiedzialny jest kortyzol. Regularna, umiarkowana aktywność fizyczna zmniejsza jego wydzielanie. Tym samym zmniejsza się napięcie nerwowe. Stajemy się też bardziej odporni na sytuacje stresowe w przyszłości.
			<h2>8. Wzmacnia system immunologiczny</h2>
				Niski poziom kortyzolu nie tylko przeciwdziała stresowi, ale także wpływa pozytywnie na odporność. Układ immunologiczny wzmacnia się również dzięki lepszej pracy serca, do której przyczynia się regularny sport.
			<h2>9. Sprawia, że czujemy się szczęśliwsi</h2>
				Na tą korzyść z uprawiania sportu wpływają wcześniej wspomniane produkcja endorfin i redukcja stresu. Ponadto uczuciu szczęścia sprzyja osiąganie zamierzonych celów i ciągły rozwój, które przy aktywności fizycznej są nieuniknione
			<h2>10. Działa przeciwstarzeniowo</h2>
				Regularny wysiłek fizyczny odmładza nawet o 30 lat. Jest to związane z poprawą wydolności organizmu i redukcją stresu.

		<br><br>
			<div class="dottedline"></div>
		</div>

		<div id="footer">
			<h3>&#169; 2022 Wojciech Kowalczyk</h3>
		</div>
{% endblock %}