{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="form search border_form">

        <form method="post">
            {% csrf_token %}
            {{ form_as_p }}
            <div class="form-group">
                <label for="nazwa">Nazwa</label>
                <input type="text" class="form-control" id="nazwa" name="nazwa" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="telefon">Telefon</label>
                <input type="text" class="form-control" id="telefon" name="telefon" required>
            </div>
            <div class="form-group">
                <label for="adres">Adres</label>
                <input type="text" class="form-control" id="adres" name="adres" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{ errors }}

    </div>

{% endblock %}