{% extends 'base.html' %}
{% block content %}
    <div class="form search border_form">
        <form method="post">

            <div class="form-group">
                {% csrf_token %}
                {{ form_as_p }}
                <label for="zawodnik">Zawodnik</label>
                <select class="form-control" id="zawodnik" name="zawodnik">
                    {% for zawodnik in zawodnik_list %}
                        <option value="{{ zawodnik.id }}">{{ zawodnik.imie }} {{ zawodnik.nazwisko }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="zawody">Zawody</label>
                <select class="form-control" id="zawody" name="zawody">
                    {% for wydarzenie in wydarzenie_list %}
                        <option value="{{ wydarzenie.id }}">{{ wydarzenie.nazwa }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="dystans">Dystans</label>
                <input type="text" class="form-control" id="dystans" name="dystans" placeholder="Dystans">
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>

    </div>
{% endblock %}