{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Zawody</h1><a href="{% url 'wyniki_new' %}"
                              class="btn btn-primary btn-lg {% if not user.is_authenticated %}disabled{% endif %}"
                              role="button" aria-disabled="true"><img class="icons"
                                                                      src="{% static 'media/person.svg' %}"
                                                                      alt="Email"/> Nowe zawody</a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Organizator</th>
                    <th scope="col">Miasto</th>
                    <th scope="col">Termin</th>
                </tr>
                </thead>
                <tbody>
                {% for wydarzenie in zawody_list %}
                    <tr>
                        <td>{{ wydarzenie.nazwa }}</td>
                        <td>{{ wydarzenie.organizator }}</td>
                        <td>{{ wydarzenie.miasto }}</td>
                        <td>{{ wydarzenie.termin }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}