{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container_zawodnik">
        <h1>Zawodnik</h1><a href="{% url 'zawodnik_new' %}"
                            class="btn btn-primary btn-lg {% if not user.is_authenticated %}disabled{% endif %}"
                            role="button" aria-disabled="true"><img class="icons" src="{% static 'media/person.svg' %}"
                                                                    alt="Email"/> Nowy Zawodnik</a>

        <form method="GET" action="{% url 'zawodnik' %}">
            {% for field in form %}
                <div class="">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="Submit" value="Submit" class="btn btn-outline-secondary"
                           placeholder="wyszukaj zawodnika...">
                </div>
            </div>
        </form>
    </div>
    {% for zawodnik in zawodnik_list %}

        <div class="col-sm-4">

            <div class="card">
                <div class="card-header"><img class="icons" src="{% static 'media/person.svg' %}"
                                              alt="Email"/> {{ zawodnik.imie }} {{ zawodnik.nazwisko }}</div>
                <div class="card-body">
                    <p class="card-text"><b>Klub:</b> {{ zawodnik.klub }}</p>
                    <p class="card-text"><img class="phone" src="{% static 'media/phone.svg' %}"
                                              alt="Telefon"/> {{ zawodnik.telefon }}</p>
                    <p class="card-text"><img class="icons" src="{% static 'media/email.svg' %}"
                                              alt="Email"/> {{ zawodnik.email }}</p>
                    <p class="card-text"><img class="icons" src="{% static 'media/city.png' %}"
                                              alt="Email"/> {{ zawodnik.miasto }}</p>
                </div>
            </div>
        </div>


    {% endfor %}
{% endblock %}

