{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li class=""><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
        <li class=""><a href="{% url 'zawodnik' %}">Zawodnik</a></li>
        <li class=""><a href="{% url 'zapisy' %}">Zapisy</a></li>
        <li class=""><a href="{% url 'zawody' %}">Zawody</a></li>
        <li class=""><a href="{% url 'wyniki' %}">Wyniki</a></li>
        <li class=""><a href="{% url 'klient' %}">Klient</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li id="logo"><img class="icons" src="{% static 'media/bike.png' %}" alt="Telefon"/> SuperTime</li>
    </ul>
</nav>
<!--

-->